@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgba(156, 85, 34, 1) 0%, rgba(32, 50, 103, 1) 42%, rgba(13, 18, 25, 1) 69%, rgba(22, 47, 60, 1) 100%);
  color: #fff;
  font-family: 'Poppins',
    sans-serif;
  height: 100vh;

  position: relative;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
  font-family: 'Poppins',
    sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kinsta-logo {
  width: 100px;
  margin: 50px 0;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-section {
  flex-basis: 60%;
  background-color: #111319;
  border-radius: 10px;
  padding: 40px 60px;
  border: 2px solid #5c5c5c;
}

.form-section .container-title {
  text-align: center;
  width: 90%;
  margin: 0 auto 30px;
}

.container-title h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.container-title p {
  font-size: .9rem;
  margin-bottom: 20px;
  color: gray;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

.input-div {
  width: 100%;
  margin-bottom: 10px;
}

.input-div label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.input-div span {
  font-size: 12px;
  color: gray;
  display: inline-block;
  margin-bottom: 5px;
}

.input-div .form-control {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #5c5c5c;
  padding: 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #1f1f1f;
}

.input-div .form-control:focus {
  outline: none;
}

.input-cont {
  position: relative;
}

.input-cont .random-icon {
  position: absolute;
  bottom: 15px;
  right: 8px;
  color: #1f1f1f;
  background-color: #fff;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.btn {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #5c5c5c;
  padding: 15px;
  margin-top: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #1f1f1f;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(156, 85, 34, 1) 0%, rgba(32, 50, 103, 1) 42%, rgba(13, 18, 25, 1) 69%, rgba(22, 47, 60, 1) 100%);
}

.btn:hover {
  background: #111319;
}

.image-container {
  flex-basis: 40%;
}

.imgg {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #5c5c5c;
}

.preview-img {
  background-color: #fff;
  opacity: 40%;
}

.loader-comp {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.307);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-comp .loader-img {
  width: 70px;
}

.footer {
  margin: 50px 0;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  text-decoration: none;
  color: #9B5421;
}